@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);
*{font-family: "Montserrat";}
body{margin:0px auto;}
section.top-page{
    background: url("../image/pancakes.jpg");
    height:80vh;
    background-size: cover;
    padding: 25px;
}
header.header img {
    width:150px ;

}
header.header{
    display: flex;
    align-items: center;
   
    
}
/* la page principal landing-page */
.big-title{
    color: white;
    font-size: 80px;
   
    font-family:'Abril FatFace', Times, serif;
   
}
/* menu du site */
nav.nav{
    display: flex;
    list-style: none;
   
    margin-left: 30px;
    width: 400px;
    justify-content: space-between;
    
    
}
nav.nav li{
    color:white;
}

.landing-page{
  
    padding: 20px 50px;
    color:white;
}
.scroll-down{
   color: white;
   text-decoration: none;
   position: absolute;
   bottom: 160px;
}